.discover {
    &-card {
        position: relative;
        width: 200px;
        overflow: hidden;
    }
    &-data {
        position: absolute;
        bottom: 1.5rem;
        left: 1rem;
    }
    &-title,&-desc {
        color: var(--white-color);
    }
    &-desc {
        font-size: var(--smaller-font-size);
    }
    &-title {
        font-size: var(--h3-font-size);
        margin-bottom: .25rem;        
    }
    &-img {
        transition: .3s;
        &:hover {
            transform: scale(1.1);
        }
    }
}


.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right{
    background-image: none;
}



